# python-docker-dev

A simple Python app for [Docker's Python Language Guide](https://docs.docker.com/language/python).

#additions to tutorial 
1. x-develop insted of develop
2. comand to watch : docker compose up --wait -d && docker compose alpha watch
